.mainContainer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  height: 800px;
  background-color: rgb(253, 232, 204);
}

.title {
  padding: 1rem 0;
  text-align: center;
  font-size: 3rem;
}

.buttonContainer {
  position: absolute;
  top: 400px;
  left: 39.5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  padding: 30px 20px;
  border: solid black 1px;
  background-color: aliceblue;
}

.buttonHeader {
  position: absolute;
  top: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}

.selectionButton {
  padding: 10px 0;
  font-size: 2rem;
  width: 160px;
}

.boardContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid black 1px;
  height: 100%;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  width: 500px;
  height: 500px;
}

.tile {
  position: relative;
  border: dotted black 1px;
}

.highlighted {
  background-color: rgb(158, 158, 249);
}

.unplaceable {
  background-color: rgb(175, 175, 175);
}

.playerOneTile {
  background-color: rgb(72, 255, 72);
}

.playerTwoTile {
  background-color: rgb(245, 41, 41);
}

.missed::before {
  content: "✗";
  position: absolute;
  color: black;
  font-size: 40px;
  top: 17%;
  left: 15%;
}

.hit::before {
  content: "◯";
  position: absolute;
  color: black;
  font-size: 33px;
  top: 15%;
  left: 15%;
}

.winnerContainer {
  position: absolute;
  top: 29%;
  left: 29%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 300px;
  background-color: #f4f4f4;
  z-index: 1;
  border: 1px solid;
}

.winnerDisplay{
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.resetButton{
  padding: 5px;
  font-size: 1.5rem;
}
